@font-face {
  font-family: "Shadow Gothic";
  src: url("../fonts/Shadow\ W90\ Gothic.ttf");
}

@font-face {
  font-family: "Staubach";
  src: url("../fonts/Staubach.ttf");
}

@font-face {
  font-family: "Do Hyeon";
  src: url("../fonts/DoHyeon-Regular.ttf");
}

:root {
  --staubach: "Staubach", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

html,
body {
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--staubach);
}

// Global Classes

.scrolled {
  background-color: #00062f !important;
  -webkit-transition: background-color 500ms linear !important;
  -moz-transition: background-color 500ms linear !important;
  -ms-transition: background-color 500ms linear !important;
  transition: background-color 500ms linear !important;
}
.unscrolled {
  background: none;
  -webkit-transition: background 500ms linear !important;
  -moz-transition: background 500ms linear !important;
  -ms-transition: background 500ms linear !important;
  transition: background 500ms linear !important;
}

p {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0 5vw;
}

a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.collapse {
  height: 17rem !important;
}

// End of Global Classes

header {
  .nav {
    background: var(--black);
    height: 2rem;
    min-height: 5rem;
    transition: height 0.2s ease-in-out;
    color: white;
    position: fixed;
    width: 100vw;
    overflow: hidden;
    font-family: var(--staubach);
    .nav-menu {
      margin: 0 5vw;
      justify-content: space-between;

      .nav-brand {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          color: white;
          position: relative;
        }
      }
      .toggle-collapse {
        position: absolute;
        right: 10%;
        display: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        .toggle-icons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          a {
            color: white;
          }
        }
      }
      .nav-items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .nav-link {
          transition: 0.1s ease-in-out all;
          padding: 0.3rem 2rem;
          a {
            font-size: 1.4rem;
            color: white;
            position: relative;
          }
          a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }
          .btn {
            color: #000547;
            padding: 0.5rem 1rem;
            background-color: white;
          }
        }
        .nav-link a::before {
          content: "";
          position: absolute;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: white;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
        }
        .nav-link:hover a:before {
          visibility: visible;
          transform: scaleX(1);
        }
        .hover {
          transition: 0.1s ease-in-out all;
        }
        .hover:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

main {
  background-color: #00062f;
  .landing {
    background-image: url("../assets/space website/jupiter.jpg");
    background-size: 100% 100%;
    min-height: 100vh;
    .landing-content {
      max-width: 1140px;
      min-height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heading {
        h1 {
          color: #000547;
          font-family: "Shadow Gothic", sans-serif;
          font-size: 7rem;
          letter-spacing: 8px;
        }
      }
      .subtitle {
        h2 {
          color: #000547;
          font-size: 3rem;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }
      .buttons {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .demo {
          color: #000547;
          font-size: 2rem;
          padding: 5px 40px;
          background-color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          border: 4px solid #000547;
          .anchor {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .pre-order {
          color: #000547;
          font-size: 2rem;
          padding: 5px 20px;
          background-color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          border: 4px solid #000547;
          .anchor {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .scroll-down {
        margin-top: 4rem;
        display: block;
        text-align: center;
        font-size: 20px;
        z-index: 100;
        text-decoration: none;
        text-shadow: 0;
        width: 13px;
        height: 13px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        z-index: 9;
        left: 50%;
        -webkit-transform: translate(-50%, 0%) rotate(45deg);
        -moz-transform: translate(-50%, 0%) rotate(45deg);
        transform: translate(-50%, 0%) rotate(45deg);
        -webkit-animation: fade_move_down 4s ease-in-out infinite;
        -moz-animation: fade_move_down 4s ease-in-out infinite;
        animation: fade_move_down 4s ease-in-out infinite;
      }

      /*animated scroll arrow animation*/
      @-webkit-keyframes fade_move_down {
        0% {
          -webkit-transform: translate(0, -10px) rotate(45deg);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: translate(0, 10px) rotate(45deg);
          opacity: 0;
        }
      }
      @-moz-keyframes fade_move_down {
        0% {
          -moz-transform: translate(0, -10px) rotate(45deg);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -moz-transform: translate(0, 10px) rotate(45deg);
          opacity: 0;
        }
      }
      @keyframes fade_move_down {
        0% {
          transform: translate(0, -10px) rotate(45deg);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: translate(0, 10px) rotate(45deg);
          opacity: 0;
        }
      }
    }
  }
  .gameplay {
    background-color: #00062f;
    margin: 0px;
    .gameplay-content {
      max-width: 1140px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .gameplay-head {
        color: white;
        font-size: 3rem;
        font-family: var(--montserrat);
      }
      .embed {
        border: 2px solid white;
        padding: 5px;
      }
      .subtitle {
        color: white;
        a {
          color: rgb(0, 174, 255);
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .weapons {
    background-color: #00062f;
    margin: 0px;
    .weapons-content {
      max-width: 1140px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .weapons-head {
        color: white;
        font-size: 3rem;
        font-family: var(--montserrat);
      }
      .weapons-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .weapon {
          width: 300px;
          height: 200px;
          background-color: white;
          margin: 2rem;
          border: 2px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: 2px solid white;
          outline-offset: 4px;
        }
      }
    }
  }
  .vehicles {
    background-color: #00062f;
    margin: 0px;
    .vehicles-content {
      max-width: 1140px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .vehicles-head {
        color: white;
        font-family: var(--montserrat);
        font-size: 3rem;
      }
      .vehicles-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .vehicle {
          width: 300px;
          height: 200px;
          background-color: white;
          margin: 2rem;
          border: 2px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: 2px solid white;
          outline-offset: 4px;
          img {
            width: 300px;
            height: 200px;
          }
        }
      }
    }
  }
  .info {
    background-color: #00062f;
    margin: 0px;
    .info-content {
      color: #eff3ff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      font-family: "Do Hyeon", sans-serif;
      .section1 {
        margin: 2rem;
        font-size: 2rem;
        letter-spacing: 2px;
      }
      .section2 {
        margin: 2rem;
        font-size: 3rem;
        letter-spacing: 2px;
        span {
          color: #cd181d;
        }
      }
      .section3 {
        margin-bottom: 3rem;
        a {
          text-decoration: none;
          color: #eff3ff;
          i {
            font-size: 4rem;
            margin: 0 1rem;
            transition: 0.2s all ease-in-out;
          }
          i:hover {
            transform: scale(1.4);
          }
        }
      }
    }
  }
}

// Media Queries

@media only screen and (max-width: 960px) {
  main {
    .info {
      .info-content {
        .section1 {
          font-size: 1.6rem;
        }
        .section2 {
          font-size: 2rem;
          margin-top: 1rem;
        }
        .section3 {
          a {
            i {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  main {
    .landing {
      .landing-content {
        .buttons {
          flex-direction: column;
          width: 350px;
          .demo,
          .pre-order {
            margin: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  header {
    .nav {
      padding-top: 1rem;
      background-color: #00062f;
      .nav-menu {
        align-items: flex-start;
        .nav-brand {
          align-items: flex-start;
          margin-left: 20px;
        }
        flex-direction: column;
        .toggle-collapse {
          display: initial;
        }
        .nav-items {
          flex-direction: column;
        }
      }
    }
  }
  main {
    .landing {
      .landing-content {
        .heading {
          h1 {
            margin-top: 5rem;
            font-size: 6rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 663px) {
  main {
    .info {
      .info-content {
        .section3 {
          a {
            margin: 1rem;
            i {
              margin: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  main {
    .landing {
      .landing-content {
        .heading {
          text-align: center;
          h1 {
            margin: 7rem 0 3rem 0;
          }
        }
        .scroll-down {
          margin: 2rem 0;
        }
      }
    }
  }
}
